<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <% include ../partialA/head %>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <% include ../partialA/aside %>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <% include ../partialA/nav %>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl container-p-y">
              <div class="row mx-auto">
                <div class="card">
                  <h5 class="card-header">User List</h5>
                  <div class="table-responsive text-nowrap">
                    <table class="table">
                      <thead>
                        <tr class="text-nowrap">
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Age Arrange</th>
                          <th>Gender</th>
                          <th>BMI</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i = 0; i < users.length; i++){%>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= users[i].name %></td>
                          <td><%= users[i].email %></td>
                          <td><%= users[i].ageArrange %></td>
                          <td><%= users[i].gender %></td>
                          <td><%= users[i].bmi %></td>
                          <td>
                            <% if(users[i].isDeleted == "0"){%>
                            <button
                              class="btn btn-danger"
                              onclick="changeSts('<%= users[i]._id %>','1')"
                            >
                              Block User
                            </button>
                            <%}else{%>
                            <button
                              class="btn btn-success"
                              onclick="changeSts('<%= users[i]._id %>','0')"
                            >
                              Unblock User
                            </button>
                            <%}%>
                          </td>
                        </tr>
                        <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <% include ../partialA/footer %>

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <% include ../partialA/script %>
  </body>
  <script>
    function changeSts(id, status) {
      console.log(id, status);
      $.ajax("/admin/changeuser", {
        method: "POST",
        data: { id: id, status: status },
        success: function (result) {
          if (result.status == "done") {
            location.reload();
          } else {
            alert("Something was wrong, please check your fields");
          }
        },
      });
    }
  </script>
</html>
