<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion</title>
    <link rel="stylesheet" href="/assets2/style.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/slick/slick.css">
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css">
    <link rel="stylesheet" href="/vendor/remi/fonts/remixicon.css">
</head>
<body>
    <!-- start header -->
    <header class="container-fluid site-nav site-bg py-2">
      <div class="container">
          <div class="row">
              <div class="col-12">
               <nav class="navbar navbar-expand-lg navbar-light">
                   <div class="container-fluid">
                     <a class="navbar-brand fw-bolder h1" href="#">
                       <img src="" class="site-logo" alt="">Stylist</a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <i class="ri-menu-3-line menu-icon "></i>
                     </button>
                     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                      <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a
                            class="nav-link text-uppercase"
                            href="/"
                            >Home</a
                          >
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-uppercase" href="/men">Men</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-uppercase" href="/women">Women</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-uppercase" href="/kids">Kids</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-uppercase current-section"
                          aria-current="page" href="/collections">Collections</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-uppercase" href="/shops">Shops</a>
                        </li>
                        <% if(locals.user){%>
                          <li class="nav-item">
                            <a class="nav-link text-uppercase" href="/myprofile"
                              >My Profile</a
                            >
                          </li>
                          <%}else{%>
                        <li class="nav-item ms-5">
                          <a
                            class="nav-link btn btn-primary bg-white text-dark border-0 shadow-lg"
                            href="/login"
                            >Login</a
                          >
                        </li>
                        <%}%>
                      </ul>
                     </div>
                   </div>
                 </nav>
              </div>
          </div>
      </div>
   </header>
    
    <!-- end header -->
    <!-- start content -->
    <section class="container-fluid vh-100">
      <div class="">
        <div class="row mt-5">         
            <div class="col-md-4 col-lg-4 col-xl-2 d-xl-block d-md-none d-none container user-sidebar">
              <div class="card shadow-lg border-0 mt-5 container">
                <div class=" text-center mt-4">
                    <p class="h4 text-color">Our Collections</p>
                </div>
                <% for(var i = 0; i < category.length; i++){%>
                <a href="#<%=category[i]._id%>" class="d-flex justify-content-between align-items-center btn btn-outline-danger col-11 m-0 mb-0 py-0 border-start-0 border-end-0 border-bottom-0 mt-3">
                  <div class="mb-1"><%=category[i].name%></div> 
                  <i class="coll-icon ri-arrow-drop-right-line float-end"></i>
                </a>
              <%}%>
    
            </div>
            </div>
            <div class="col-md-12 col-lg-10 my-5 container user-content scroll">

              <div class="toggle-coll d-inline d-xl-none">
                <span  class="anone">
                  <i class="ri-menu-2-fill user-menu-icon h2"></i>
                </span>
              </div>
              <% for(var j = 0; j < category.length; j++){%>
              <div class="col-12 my-3" id="<%= category[j]._id %>">
                <div class="row container m-auto">
                  <div class="col-12">
                    <div class="text-center h2 my-5 fw-bolder text-color">
                      <%= category[j].name %>
                    </div>
                  </div>
                  <% let current = collection.filter(che); function che(value){
                    return value._id.categoryId.toString() ==
                    category[j]._id.toString()} %> <% if(current.length > 0){
                    for(var k = 0; k < current[0].data.length; k++){ if(k == 6)
                    break;%>
                  <div class="col-md-6 col-lg-3">
                    <div class="card  shadow-lg border-0 rounded-3 m-3 m-md-2">
                      <div class="card-body border-0 coll-img">
                        <img src="<%= current[0].data[k].mainImg %>" alt="">
                      </div>
                      <div class="card-footer border-0 pointer">
                        <div class="">
                          <p><%= current[0].data[k].title %></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class=""> <span class="fw-bolder"><%= current[0].data[k].estPrice %> MMK</span></div>
                          <div class="d-flex justify-content-center align-items-center detail-icon">
                              <div class="">
                                <a href="/blogdetail/<%= current[0].data[k].id %>" class="anone">Details</a>
                              </div>
                             <i class="ri-arrow-right-line"></i>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%}}%>
                  
                </div>
              </div>
            <%}%>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end content -->
     <!-- start footer -->
     <footer class="container-fluid footer mt-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 m-auto">
              <ul class="d-flex justify-content-around text-white">
                <li class="text-uppercase">men</li>
                <li class="text-uppercase">women</li>
                <li class="text-uppercase">kids</li>
                <li class="text-uppercase">collection</li>
                <li class="text-uppercase">Shop</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-center fs-6 fw-bolder">&copy;Fashion. All Right Reserved.</p>
            </div>
          </div>
        </div>
      </footer>
      <a href="#" class="scroll-up anone" id="scroll-up">
        <i class="ri-arrow-up-line scroll-icon"></i>
      </a>
      <!-- end footer -->
  </body>
  <script src="/vendor/jQuery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/slick/slick.min.js"></script>
  <script src="/assets2/app.js"></script>
  </html>