<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/remi/fonts/remixicon.css">
    <link rel="stylesheet" href="/assets2/style.css">
</head>
<body>

    <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-md-3 col-xl-2 d-xl-block d-md-none d-none user-sidebar">
            <div class="card shadow-lg border-0">
                <a href="/" class="float-end m-2 mb-0 p-2 anone">
                    <i class="ri-home-7-line h4 text-danger"></i>
                </a>
                <div class="text-center mb-5 pt-5">
                    <img src="<%= user.gender == 'male' ? '/assets2/img/yb2.jpg':'/assets2/img/1.jpg' %>" class="profile-img" alt="">
                </div>
                <div class=" text-center">
                    <p class="h4 text-color"><%= user.name %></p>
                </div>
                <a href="/myprofile" class="btn btn-outline-danger col-11 m-auto border-start-0 border-end-0 border-bottom-0 my-2">For you</a>
                <a href="/editmyprofile" class="btn btn-outline-danger col-11 m-auto border-start-0 border-end-0 border-bottom-0 mb-2">User Information</a>
                <a href="/recomandshop" class="btn btn-outline-danger col-11 m-auto border-start-0 border-end-0 border-bottom-0 mb-2">Recomanded Shop</a>
                <a href="/logout" class="btn btn-outline-danger col-11 m-auto border-start-0 border-end-0 mb-2">Logout</a>
    
            </div>
          </div>
    
          <div class="col-lg-9 col-sm-12 col-md-9 col-xl-10 p-md-0 user-content scroll">
            <div class="toggle d-inline d-xl-none">
              <span  class="anone">
                <i class="ri-menu-2-fill user-menu-icon h2"></i>
              </span>
            </div>
            <div class="row ms-5">
              <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12">
                
                <div class="col-lg-8 col-sm-12 card shadow-lg border-0">
                  <div class="p-2 mt-3">
                    <p class="h5 fw-bold ms-3">Edit Profile</p>
                  </div>
                  <div class="p-5">
                    <form action="/editmyprofile" method="post">
                      <div class="row">
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="name" class="form-label fw-bold">Name</label>
                                  <input type="text" name="name" id="name" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3 shadow-lg border-0 rounded-pill p-2 ps-3" value="<%= user.name %>" required>
                              </div>                                 
                          </div>
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="uname" class="form-label fw-bold">Username</label>
                                  <input type="text" id="uname" name="uname" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3 shadow-lg border-0 rounded-pill p-2 ps-3" value="<%= user.username %>" readonly>
                              </div>                                 
                          </div>
                          
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="email" class="form-label fw-bold">Email</label>
                                  <input type="email" id="email" name="email" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3" value="<%= user.email %>" readonly>
                              </div>
                          </div>
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="age" class="form-label fw-bold">Age</label>
                                  <input type="number" id="age" name="age" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3" min="10" value="<%= user.age %>" required>
                              </div>
                          </div>                              
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="password" class="form-label fw-bold">Password <small>(If you don't update password, don't enter this fields)</small></label>
                                  <input type="password" name="password" id="password" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3" placeholder="Enter your password">
                              </div>
                          </div>
                          <div class="col-12 col-md-6">
                              <div class="form-group mb-3">
                                  <label for="bmi" class="form-label fw-bold">Your BMI <small>(BMI value can update by retype BMI calculator)</small></label>
                                  <input type="text" name="bmi" id="bmi" class="form-control shadow-lg border-0 rounded-pill p-2 ps-3" value="<%= user.bmi %>" readonly required>
                              </div>
                          </div>
                      </div>
                    
                      <div class="row">      
                      <div class="form-group mb-3">
                          <label for="" class="form-label fw-bold">Gender</label>
                          <div class="form-group d-flex justify-content-between">
                              <div class="form-check-inline">
                                  <input type="radio" name="gender" class="shadow-lg form-check-input" id="male" value="male" <%= user.gender == 'male' ? 'checked':"" %> required>
                                  <label for="male" class="form-check-label">Male</label>
                              </div>
                              <div class="form-check-inline">
                                  <input type="radio" name="gender" class="shadow-lg form-check-input" id="female" value="female" <%= user.gender == 'female' ? 'checked':"" %> required>
                                  <label for="female" class="form-check-label">Female</label>
                              </div>
                              <div class="form-check-inpute">
                                  <input type="radio" name="gender" class="shadow-lg form-check-input" id="other" value="other" <%= user.gender == 'other' ? 'checked':"" %> required>
                                  <label for="other" class="form-check-label">Other</label>
                              </div>
                          </div>
                      </div>
                      <div class="text-center">
                          <button type="submit" class="reg-btn form-control shadow-lg border-0 rounded-pill p-2 ps-3">Update</button>
                      </div>
                      
                    </form>
                  </div>
                
                </div> 
              </div>
              <div class="col-md-3 col-sm-12 col-lg-3 col-xl-3 border-0 shadow-lg ms-2">
                <div class="row mb-3 bmi p-4">
                  <div class="reg-title mb-4">
                      <div class="h3 fw-bold">BMI Calculator</div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                          <label for="" class="form-label fw-bold">Weight</label>
                         <div class="input-group">
                          <input type="number" placeholder="Enter your weight" min="20" value="" class="form-control weight text-center shadow-lg border-0 left-rounded p-2 ps-3">
                          <span class="input-group-text right-rounded">kg</span>
                         </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                          <label for="" class="form-label fw-bold">Height</label>
                          <div class="input-group">
                              <input type="number" placeholder="Enter your height" min="20" value="" class="form-control height text-center shadow-lg border-0 left-rounded p-2 ps-3">
                              <span class="input-group-text right-rounded">cm</span>
                          </div>
                      </div>
                  </div>
  
                  <div class="col-12 mt-4">
                      <div class="form-group">
                          <div class="text-center">
                              <button type="submit" class="calculate form-control shadow-lg border-0 rounded-pill p-2 ps-3">Calculate BMI</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-6 mx-auto mt-4">
                      <div class="form-group text-center">
                          <label for="" class="form-label fw-bold">Your BMI is</label>
                          <h3 type="text" class=" result shadow-lg border-0 rounded-pill p-3 "></h3>
                      </div>
                  </div>
                  <p class="comment fs-3 ms-2"></p>
              </div>
              </div>
              
            </div>
        </div>
      </div>
</body>
<script src="/vendor/bootstrap/css/bootstrap.min.css"></script>
<script src="/vendor/jQuery/jquery.min.js"></script>
<script src="/vendor/slick/slick.min.js"></script>
<script src="/assets2/app.js"></script>
<script>
  $(".calculate").click(function(){
        let weight = $(".weight").val();
        let height = $(".height").val();

        if (height == "" || weight == "") {
            alert("Please fill out the input fields!");
            return;
         }

         height = height/100;
         let BMI = weight/(height*height);
         BMI = BMI.toFixed(2);
         $(".result").html(BMI);

         let status = "";

        if (BMI < 18.5) {
            status = "Underweight";
        }
        if (BMI >= 18.5 && BMI < 25) {
            status = "Healthy";
        }
        if (BMI >= 25 && BMI < 30) {
            status = "Overweight";
        }
        if (BMI >= 30) {
            status = "Obese";
        }
        $(".comment").html(`You are <span id="comment">${status}</span>`);
        $("#bmi").val(status);
    })
</script>
</html>