<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Stylist</title>
    <link rel="stylesheet" href="/assets2/style.css" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vendor/slick/slick.css" />
    <link rel="stylesheet" href="/vendor/slick/slick-theme.css" />
    <link rel="stylesheet" href="/vendor/remi/fonts/remixicon.css" />
    <link rel="stylesheet" href="/vendor/animate_it/animate.css" />
  </head>
  <body>
    <!-- start header -->
    <header class="container-fluid site-nav wow animate__slideInDown">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <a class="navbar-brand fw-bolder h1" href="/">
                  <img src="/images/ys.png" class="site-logo" alt="" />Your
                  Stylist</a
                >
                <button
                  class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <i class="ri-menu-3-line menu-icon"></i>
                </button>
                <div
                  class="collapse navbar-collapse justify-content-end"
                  id="navbarSupportedContent"
                >
                  <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a
                        class="nav-link text-uppercase current-section"
                        aria-current="page"
                        href="/"
                        >Home</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/men">Men</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/women">Women</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/kids">Kids</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/collections"
                        >Collections</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/shops">Shops</a>
                    </li>
                    <% if(locals.user){%>
                    <li class="nav-item">
                      <a class="nav-link text-uppercase" href="/myprofile"
                        >My Profile</a
                      >
                    </li>
                    <%}%>
                    <li class="nav-item ms-5">
                      <a
                        class="nav-link btn btn-primary bg-white text-dark border-0 shadow-lg"
                        href="/login"
                        >Login</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <!-- start home -->
    <section id="home" class="home container-fluid">
      <div class="container">
        <div
          class="row min-vh-100 align-items-center justify-content-center flex-column-reverse flex-md-row"
        >
          <div class="col-12 col-md-7 d-flex justify-content-center">
            <div
              class="home-left mt-5 pt-5 mt-md-0 pt-md-0 wow animate__slideInLeft"
            >
              <div class="text-capitalize">
                <h3 class="h1">
                  find the best <br />
                  fashion style <br />
                  for you
                </h3>
              </div>
              <div class="mt-3 text-black-50">
                <p>
                  If you want to have confidence in your style, you have to be
                  comfortable with that outfit. If you feel satisfied in what
                  your wear so that it can be the best fashion style for you.
                  Fashion has the ability to contribute confidence and
                  self-esteem on a daily basis. Thus, fashion really matters.
                </p>
              </div>
              <div class="mt-3">
                <a
                  href=""
                  class="btn shadow-lg bg-white p-2 btn-size wow animate__slideInUp"
                  >SHOP NOW</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="home-right wow animate__slideInUp">
              <img src="/assets2/img/4.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->
    <!-- start collection -->
    <section class="collection container-fluid mt-5" id="collection">
      <div class="row">
        <div class="col-12 text-center">
          <div class="text-color wow animate__slideOutDown">
            <h1 class="mb-3">Our Collections</h1>
            <div class="">
              <ul class="coll-tab d-flex justify-content-center">
                <% for(var i = 0; i < category.length; i++){%>
                <li
                  class="m-3 coll-tab-item <%= i == 0 ? 'active':''%>"
                  data-target="#tab<%= i%>"
                >
                  <%= category[i].name %>
                </li>
                <%}%>
                <!-- <li class="m-3 coll-tab-item" data-target="#summer">Summer</li>
                <li class="m-3 coll-tab-item" data-target="#rainy">Rainy</li>
                <li class="m-3 coll-tab-item" data-target="#office">Office</li>
                <li class="m-3 coll-tab-item" data-target="#free">Free</li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 coll-section">
          <% for(var j = 0; j < category.length; j++){%>
          <div
            class="coll-tab-content <%= j == 0 ? 'active':''%>"
            id="tab<%= j%>"
          >
            <div class="container p-md-5">
              <div class="row">
                <% let current = collection.filter(che); function che(value){
                return value._id.categoryId.toString() ==
                category[j]._id.toString()} %> <% if(current.length > 0){
                for(var k = 0; k < current[0].data.length; k++){ if(k == 6)
                break;%>
                <div
                  class="col-12 wow animate__bounceOut col-xl-4 col-md-6 p-xl-5 p-md-4 mb-5 mb-md-0"
                >
                  <div class="card shadow-lg border-0">
                    <div class="coll-img col-12">
                      <img src="<%= current[0].data[k].mainImg %>" alt="" />
                    </div>
                    <div class="text-center coll-footer">
                      <%= current[0].data[k].title %>
                    </div>
                  </div>
                </div>
                <%}}%>
              </div>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </section>
    <!-- end collection -->
    <!-- start best fashion -->
    <section class="container-fluid best-fashion mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-6">
            <div class="best-left m-auto wow animate__fadeInUp">
              <img src="/assets2/img/1.jpg" alt="" />
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-6 d-flex justify-content-center">
            <div class="best-right">
              <div class="text-capitalize">
                <h3 class="h1 text-color">Best fashion <br />Since 2022</h3>
              </div>
              <div class="mt-3 text-black-50">
                <p class="best-justify">
                  Fashion is a form of expression. As a way to express
                  personality and style, fashion plays an important role in our
                  life. What a person chooses to wear can reflect their
                  personality or interest. So it is critical that choosing a
                  good outfit idea considerably according to different
                  occasions. Therefore, you all can inspire the best fashion
                  style via our website.
                </p>
              </div>
              <div class="col-xl-5 col-md-7 best-found wow animate__zoomIn">
                <div class="card p-3 border-0 shadow-lg">
                  <div class="row container text-center">
                    <div class="col-4">
                      <p class="h4 fw-bolder">2022</p>
                      <p class="mb-0">Founded</p>
                    </div>
                    <div class="col-4">
                      <p class="h4 fw-bolder"><%= userCount %>+</p>
                      <p class="mb-0">Users</p>
                    </div>
                    <div class="col-4">
                      <p class="h4 fw-bolder">
                        <%= viewCount[0]? viewCount[0].count: '0' %>
                      </p>
                      <p class="mb-0">Total View</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end best fashion -->
    <!-- start popular product -->
    <section class="container-fluid popular mb-5">
      <div class="container px-5">
        <div class="row">
          <div class="col-12 col-xl-6 col-md-6">
            <div class="col-xl-8 m-lg-auto w-100 popular-text text-center mb-5">
              <div class="text-capitalize mb-5">
                <h3 class="h1 fw-bolder text-white wow animate__slideInLeft">
                  Popular Products
                </h3>
              </div>
              <div class="mt-3 text-white-50 text-start lh-lg">
                <p>
                  Everybody will find what is the most popular outfit ideas
                  after watching at this point. There are many latest designs
                  and trendy clothes here. Good fashion style represents what
                  you want to be and who you are. Hence, fashion is important in
                  society and the best way to enjoy fashion is to wear what you
                  love.
                </p>
              </div>
              <div class="mt-3">
                <a
                  href=""
                  class="btn btn-primary border-0 shadow-lg bg-white text-dark p-2 wow animate__slideInRight"
                  >SEE MORE</a
                >
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6 col-md-6">
            <div class="col-12">
              <div class="row popular-slick">
                <% for(var i = 0; i < populars.length; i ++){%>
                <div class="col-xl-4 p-xl-4 p-lg-4 p-md-2 p-0">
                  <div class="card">
                    <div class="popular-img">
                      <img src="<%= populars[i].mainImg %>" alt="" />
                    </div>
                    <div class="card-footer text-center bg-white border-0">
                      <p class="mb-0"><%= populars[i].title %></p>
                      <p class="mb-0"><%= populars[i].estPrice %> MMK</p>
                    </div>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end popular product -->
    <!-- start trending -->
    <section class="container-fluid trending">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center wow animate__slideInDown">
              <div class="h1 text-color">Trendings</div>
            </div>
            <div class="container-fluid p-md-5">
              <div class="row trending-slick">
                <% for(var i = 0; i < trending.length; i++){%>
                <div class="col-md-4 col-12 col-xl-3 p-md-2">
                  <div class="card p-xl-5 p-lg-5 p-md-4 mb-5 mb-md-0 border-0">
                    <img src="<%= trending[i].mainImg %>" alt="" />
                    <div class="card-footer">
                      <p class="h5"><%= trending[i].title %></p>

                      <p><%= trending[i].estPrice %> MMK</p>
                    </div>
                  </div>
                </div>
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end trending -->
    <!-- start collection img -->
    <section class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="collection-img d-flex">
            <img src="/assets2/img/2.jpg" class="col-2" alt="" />
            <img src="/assets2/img/3.jpg" class="col-2" alt="" />
            <img src="/assets2/img/2.jpg" class="col-2" alt="" />
            <img src="/assets2/img/1.jpg" class="col-2" alt="" />
            <img src="/assets2/img/4.jpg" class="col-2" alt="" />
            <img src="/assets2/img/y.jpg" class="col-2" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- end collection img -->
    <!-- start footer -->
    <footer class="container-fluid footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 m-auto">
            <ul class="d-flex justify-content-around text-white">
              <li class="text-uppercase">men</li>
              <li class="text-uppercase">women</li>
              <li class="text-uppercase">kids</li>
              <li class="text-uppercase">collection</li>
              <li class="text-uppercase">Shop</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text-center fs-6 fw-bolder">
              &copy;Fashion. All Right Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="scroll-up anone" id="scroll-up">
      <i class="ri-arrow-up-line scroll-icon"></i>
    </a>
    <!-- end footer -->
  </body>
  <script src="/vendor/jQuery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/slick/slick.min.js"></script>
  <script src="/vendor/wow/wow.js"></script>
  <script src="/assets2/app.js"></script>
</html>
